<div id="no-json-loaded" class="center-message">
    <span>Please load data.</span>
</div>
<div id="no-region-selected" class="center-message" style="display:none;">
    <span>Please select a region on the map.</span>
</div>
<div id="invalid-primary-key" class="center-message" style="display:none;">
    <span>Invalid Geo ID Property provided for primary dataset. Please update configuration.</span>
</div>
<div id="region-selected" style="display:none;">
    <div class="details-text">
        <div class="region-name">Selected Region: <span id="region-name"></span></div>
    </div>
    <div class="charts">
        <div class="primary-chart">
            <div id="mapped-property-name" class="chart-title-primary"></div>
            <div id="primary-chart" class="ct-chart ct-octave ct-series-a"></div>
        </div>
        <!-- <div id="secondary-chart" class="secondary-chart ct-chart ct-octave"></div> -->
        <div id="secondary-charts" class="row">
        </div>
    </div>

</div>
