<div id="no-json-loaded" class="center-message">
    <span>Please load data.</span>
</div>
<div id="no-region-selected" class="center-message" style="display:none;">
    <span>Please select a region on the map.</span> <span class="caret caret-reversed"></span>
</div>
<div id="invalid-primary-key" class="center-message" style="display:none;">
    <span>Invalid Geo ID Property provided for primary scenario. Please update configuration.</span>
</div>
<div id="region-selected" style="display:none;">
    <div class="details-text">
        <div class="region-name">
            <h3 id="region-name">
            <a class="leaflet-control-easyPrint-button-export" style="border-top-right-radius: 2px; border-bottom-right-radius: 2px;"></a>
            </h3>
        </div>
        <div class="right-top">

            <div class="leaflet-control-easyPrint leaflet-bar leaflet-control">
                <a class="selectable edit-img" id="edit-model-details" title="Edit Details Display" data-toggle="modal" data-target="#details-modal">
                </a>
                <a class="leaflet-control-easyPrint-button-export" id="print-model-details" title="Save All Charts">
                </a>
            </div>
        </div>
    </div>
    <div id="no-charts-to-chart" class="centered-chart-message" style="display:none;">
        <span>No data is being actively chartted in the details pane. Click the pencil to change this.</span>
    </div>
    <div id='the-detail-charts' class="">
        <div class="primary-chart" id="primary-charts">
            <canvas id="primary-chart" class="" style="width:400px; height:300px;"></canvas>
        </div>
        <div id="secondary-charts" class="row">
        </div>
    </div>

</div>

<div id="details-popup"></div>
