<div id="no-json-loaded" class="center-message">
    <span>Please load data.</span>
</div>
<div id="no-region-selected" class="center-message" style="display:none;">
    <span>Please select a region on the map.</span>
</div>
<div id="invalid-primary-key" class="center-message" style="display:none;">
    <span>Invalid Geo ID Property provided for primary dataset. Please update configuration.</span>
</div>
<div id="region-selected" style="display:none;">
    <div class="details-text">
        <div class="region-name"><h3 id="region-name"></h3></div>
    </div>
    <div class="">
        <div class="primary-chart">
            <canvas id="primary-chart" class="" style="width:400px; height:300px;"></canvas>
        </div>
        <div id="secondary-charts" class="row">
        </div>
    </div>

</div>
