
.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100vh;
  min-height:600px;
  margin-left:10px;
  margin-right:10px;
}

.section {
  padding:10px;
  @media (min-width: 768px) {
    height: 100vh;
    min-height:600px;
  }
}

.viewport {
  border:2px solid black;
  border-radius:10px;
  height: 100%;
  width: 100%;
}

.map-view {
  min-height: 300px;
  .map {
    width:100%;
    height:100%;
    overflow:hidden;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid none;
  }
}

.info-view {
  min-height: 400px;

  .info-title {
    margin-top:-19px;
    margin-left:30px;
    background-color:white;
    font-size: 1.5rem;
    display: table;

    padding-left:5px;
    padding-right:5px;

    position:absolute;
  }

  .model-detail {
    height:70%;
    display: flex;
    flex-flow: column;

    .model-title {
      padding-bottom:20px;
      width:100%;
      overflow-x:auto;
    }

    .viewport {
      flex: 2;
    }
  }

  .settings-detail {
    height:30%;
    padding-top:20px;
  }

  .info-content {
    width:100%;
    height:100%;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .viewport {
    overflow: auto;
  }
}
