.model-detail {
  .center-message {
    width:100%;
    height:100%;
    @extend .centered-content;
    text-align: center;
  }

  .details-text {
    padding-bottom:10px;
  }

  .charts {
    padding:10px;
  }

  .primary-chart {
    padding-bottom:25px;
  }

  .chart-title {
    width:100%;
    text-align: center;
    font-size:0.8em;
  }

  .chart-title-secondary {
    @extend .chart-title;
    display:flex;

    .chart-title-content {
      margin:auto;
    }
  }

  .chart-title-primary {
    @extend .chart-title;
  }

  .secondary-chart {
    padding-bottom:25px;
  }
}
