<div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="export-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Export Configuration</h5>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">
            <div class="row form-group">
                <label for="new_policy_name" class="col-sm-6 col-form-label">Allow Future Edits</label>
                <div id="allow-file-change" class="btn-group btn-group-toggle col-sm-6" data-toggle="buttons">
                  <label class="btn btn-secondary active" id="allow-file-change-yes_label">
                    <input type="radio" name="options" id="allow-file-change-yes" value="Yes" autocomplete="off" checked> Yes
                  </label>
                  <label class="btn btn-secondary" id="allow-file-change-no_label">
                    <input type="radio" name="options" id="allow-file-change-no" value="No" autocomplete="off"> No
                  </label>
                </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" id="export-save" class="btn btn-primary btn-sm" data-dismiss="modal">
            Export Configuration
        </button>
      </div>
    </div>
  </div>
</div>
