<div class="modal fade" id="model-modal" tabindex="-1" role="dialog" aria-labelledby="color-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="model_modal_title">Add New Model Dataset</h3>
      </div>
      <div class="modal-body">
          <form id="dataset-form" class="form-horizontal needs-validation" novalidate>
            <div class="row form-group">
                <label for="new_policy_name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="new_policy_name" name="new_policy_name" required>
                    <small  class="form-text text-muted">Must be unique. Special characters and whitespace are allowed.</small>
                </div>
            </div>
            <div class="row form-group">
                <label for="file_name" class="col-sm-3 col-form-label">Data File</label>
                <div class="col-sm-9">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="policy-file-selector" required>
                        <label class="custom-file-label" id="policy-file-selected-name" for="policy-file-selector"></label>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label for="geojson_name" class="col-sm-3 col-form-label">GeoJSON File</label>
                <div class="col-sm-9">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="geojson-file-selector" required>
                        <label class="custom-file-label" id="geojson-file-selected-name" for="geojson-file-selector"></label>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label for="mapped_property_name" class="col-sm-3 col-form-label">Mapped Property</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="mapped_property_name" name="mapped_property_name" required>
                    <small  class="form-text text-muted">Main property id that will be shown in the map view.</small>
                </div>
            </div>
            <div class="row form-group">
                <label for="geo_id_property" class="col-sm-3 col-form-label">Geo ID Property</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="geo_id_property" name="geo_id_property" required>
                    <small  class="form-text text-muted">Primary key id that links the GeoJSON to Model Data.</small>
                </div>
            </div>
            <div class="row form-group">
                <label for="geo_display_property" class="col-sm-3 col-form-label">Geo Display Property</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="geo_display_property" name="geo_display_property">
                    <small  class="form-text text-muted">Display name property from the GeoJSON file. Optional.</small>
                </div>
            </div>
            <div class="row form-group"> <!-- Color Scheme -->
                <div class="col-sm-3 name">
                    Color Scheme
                </div>
                <div id="choropleth-input" class="input-group col-sm-9 ">
                    <div class="custom-file">
                      <div id="current-color-settings" class="choropleth-display form-control choropleth-select-display"></div>
                      <label class=""></label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label for="new_policy_name" class="col-sm-3 col-form-label">Data Display</label>
                <div id="dataset-display" class="btn-group btn-group-toggle col-sm-9" data-toggle="buttons">
                  <label class="btn btn-secondary" id="dataset_primary_label">
                    <input type="radio" name="options" id="dataset_primary" value="primary" autocomplete="off"> Primary
                  </label>
                  <label class="btn btn-secondary" id="dataset_secondary_label">
                    <input type="radio" name="options" id="dataset_secondary" value="secondary" autocomplete="off"> Secondary
                  </label>
                  <label class="btn btn-secondary active" id="dataset_off_label">
                    <input type="radio" name="options" id="dataset_off" value="off" autocomplete="off" checked> Off
                  </label>
                </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="policy-data-cancel" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" id="policy-data-add" class="btn btn-primary btn-sm" >Add Policy</button>
        <button type="button" id="policy-data-save" class="btn btn-primary btn-sm" >Save Policy</button>
        <button type="button" id="policy-data-ok" class="btn btn-primary btn-sm" >Save Policy</button>
      </div>
    </div>
  </div>
</div>
