<div id="settings-dropwdown" class="dropdown dropup">
  <button type="button" id="show-settings" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
    Configure MapModelViz
  </button>

    <div class="dropdown-menu">
        <div class="px-2 py-2">

        <div id="no-policies">
            <div class="alert alert-secondary" role="alert">
                No scenarios have been added yet.
            </div>
        </div>
        <div id="policies-list" style="display:none;">
            <table id="policy-table" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Display</th>
                </tr>
              </thead>
              <tbody id="policies-body">
              </tbody>
            </table>
        </div>
        <div class="row"> <!-- New Model Dataset -->
            <div class="col-sm">
                <button type="button" id="dataset-add-btn" class="btn btn-primary btn-sm">
                    Add New Scenario
                </button>
            </div>
        </div>
        <div class="row"> <!-- Export -->
            <div class="col-sm">
                <button type="button" id="export-config-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#export-modal">
                    Export
                </button>
            </div>
        </div>
        </div>

    </div>

</div>

<div id="export-popup"></div>
<div id="model-popup"></div>
<div id="name-popup"></div>
<div id="color-popup"></div>
