<div class="row"> <!-- Model Data -->
    <div class="col-sm-4 name">
        Active Policy
    </div>
    <div class="col-sm-4 name">
        <div id="current-active-policy" class="settings-value"></div>
    </div>
    <div class="col-sm-4 name">
        <button type="button" id="manage-policies" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#model-modal">
            Manage
        </button>
    </div>
</div>
<div class="row"> <!-- GeoJSON Data -->
    <div class="col-sm-4 name">
        GeoJSON Data
    </div>
    <div class="col-sm-4 name">
        <div id="geojson-file" class="settings-value"></div>
    </div>
    <div class="col-sm-4 name">
        <label class="btn btn-primary btn-sm" style="margin-bottom:0px;" id="geojson-upload-btn">
            Load<input id="geojson-file-selector" type="file" style="display: none;" onchange="">
        </label>
    </div>
</div>

<div class="row"> <!-- Color Scheme -->
    <div class="col name">
        Color Scheme
    </div>
    <div class="col centered-content">
        <div id="current-color-settings" class="choropleth-display"></div>
    </div>
    <div class="col-sm-4">
        <button type="button" id="change-color-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#color-modal">
            Change
        </button>
    </div>
</div>

<div id="color-popup"></div>
